.form {
    box-sizing: border-box
}

/* Add padding to containers */
.container {
    padding: 16px;
}

.main {
    color: aquamarine;
}

/* Full-width input fields */
.email,
.password {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
}

.email:focus,
.password:focus {
    background-color: #ddd;
    outline: none;
}

/* Overwrite default styles of hr */
/* hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
} */

/* Set a style for the submit/register button */
.registerbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
}

.crudbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    border-radius: 10px;
}

.crudbtn:hover {
    opacity: 1;
}

.packbuttons:hover {
    opacity: 1;
}

.crudbtnTable {
    background-color: #5362FC;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    border-radius: 10px;
}

.crudbtnTable:hover {
    opacity: 1;
}

.crudbtDel {
    background-color: red;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    opacity: 0.9;
    border-radius: 10px;
}

.crudbtDel:hover {
    opacity: 1;
}

.registerbtn:hover {
    opacity: 1;
}

/* Add a blue text color to links */
.reference {
    color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
    background-color: #f1f1f1;
    text-align: center;
}